﻿@model IEnumerable<cursoYoutube.Models.DetalleMes>

<fieldset>
    <legend>Detalle x Mes</legend>
    <ul>
        @foreach (var item in @Model)
        {
            <li>
                <p>@item.producto (@item.valor.ToString("c"))</p>
            </li>    
        }
    </ul>
</fieldset>