﻿@model IEnumerable<cursoYoutube.Models.VentasMes>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    http://www.julitogtu.com/2013/02/07/asp-net-mvc-cargar-una-vista-parcial-con-ajax/
    <br /> 
    Puedes tener problemas con el jquery.unobtrusive-ajax si tu versión de Jquery es mayor de la 1.9. Esto es porque la funcion .live() ha desaparecido y ahora es .on() la que se usa. Para actualizar esa libreria hay que usar: PM> Install-Package Microsoft.jQuery.Unobtrusive.Ajax 
    <br /> mirar en la página 
    https://www.nuget.org/packages/Microsoft.jQuery.Unobtrusive.Ajax/
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @Ajax.ActionLink("Detalles", "ViewDetails", new { id = item.id }, new AjaxOptions { UpdateTargetId="divDetails" })
        </td>
    </tr>
}

</table>
<div id="divDetails">
</div>

