﻿@model cursoYoutube.Models.bdCursoYoutubeEntities
@{
    ViewBag.Title = "Index";
}
<h2>Clientes y direcciones</h2>
http://www.c-sharpcorner.com/UploadFile/raj1979/dropdown-cascading-in-mvc4-using-entity-framework/
<br />
<br />
    <p>
        @Html.DropDownListFor(Model => Model.C_Clientes, new SelectList(ViewBag.Clientes as System.Collections.IEnumerable, "id_cliente", "nombre"),

        "Selecciona cliente", new { id = "ddlClientes" })
    </p>
    <p>
        @Html.DropDownListFor(Model => Model.C_Direcciones, new SelectList(Enumerable.Empty<SelectListItem>(), "id_direccion", "calle"),
        "Selecciona dirección", new { id = "ddlDirecciones" })
    </p>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#ddlClientes").change(function () {
                var idCliente = $(this).val();
                $.getJSON("../ddlCascadaSQlyajax/LoadDireccionesPorCliente", { idCliente: idCliente },
                    function (DireccionesData) {
                        var select = $("#ddlDirecciones");
                        select.empty();
//                        select.append($('<option/>', {
//                            value: 0,
//                            text: "Select a Class"
//                        }));
                        $.each(DireccionesData, function (index, itemData) {
//                            alert(DireccionesData);
//                            alert(itemData);
                            select.append($('<option/>', {
                                value: itemData.Value,
                                text: itemData.Text
                            }));
                        });
                    });
            });
        });
    </script>


