﻿<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Mi aplicación ASP.NET MVC</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        <script src="../../Scripts/underscore.js" type="text/javascript"></script>
        @Styles.Render("~/Content/bootstrapcss")
        @Scripts.Render("~/bundles/bootstrapjs")
        @RenderSection("styles",required:false)
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("su logotipo aquí", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul class="menu">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li> | 
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li> | 
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li> | 
                            <li>@Html.ActionLink("Clientes", "Index", "Cliente")</li> | 
                            <li>@Html.ActionLink("Direcciones", "ListaDirecciones", "Cliente")</li> | 
                            <li>@Html.ActionLink("Clientes y direcciones", "ListaClienteDireccion", "Cliente")</li> | 
                            <li>@Html.ActionLink("CRUB", "Index", "crubDirecciones")</li> | 
                            <li>@Html.ActionLink("Areas", "Index", "Area")</li>  |        
                        </ul>
                        <ul class="menu">
                            <li>@Html.ActionLink("Vista Parcial", "Index", "VistaParcial")</li> | 
                            <li>@Html.ActionLink("Tablas Maestro detalle Ajax", "Index", "MaestroDetalle")</li> | 
                            <li>@Html.ActionLink("Cargar vistas parciales con Ajax", "Index", "CVPA")</li> |
                            <li>@Html.ActionLink("Cargar vistas parcial con Ajax 2", "Index", "CVPA2")</li> |    
                        </ul>
                        <ul class="menu">
                            <li>@Html.ActionLink("WebGrid", "Index", "WebGrid")</li> |   
                            <li>@Html.ActionLink("WebGrid rendimiento optimizado", "Index2", "WebGrid")</li> |                               
                            <li>@Html.ActionLink("WebGrid con AJAX", "WebGridAjax", "WebGrid")</li> | 
                            <li>@Html.ActionLink("WebGrid con filtros", "Index", "WebGridFiltros")</li> | 
                        </ul>
                        <ul class="menu">
                            <li>@Html.ActionLink("ddl en cascada (Ajax)", "Index", "ddlCascada")</li> | 
                            <li>@Html.ActionLink("ddl en cascada con Entity y Ajax", "Index", "ddlCascadaSQlyajax")</li> |
                            <li>@Html.ActionLink("Ajax Editor Demo", "Index", "EditorDemo")</li> |    
                        </ul>
                       <strong>Multiples modelos en una vista</strong> - http://www.codeproject.com/Articles/687061/Multiple-Models-in-a-View-in-ASP-NET-MVC-MVC
                        <ul class="menu">
                            <li>@Html.ActionLink("ViewData Demo", "ViewDataDemo", "MultiplesModelos")</li> |
                            <li>@Html.ActionLink("ViewBag Demo", "ViewBagDemo", "MultiplesModelos")</li> |
                            <li>@Html.ActionLink("PartialView Demo", "PartialViewDemo", "MultiplesModelos")</li> |
                            <li>@Html.ActionLink("TempData Demo", "TempDataDemo", "MultiplesModelos")</li> |
                            <li>@Html.ActionLink("ViewModel Demo", "ViewModelDemo", "MultiplesModelos")</li> |
                            <li>@Html.ActionLink("Tuple Demo", "TupleDemo", "MultiplesModelos")</li> | 
                        </ul>
                        <strong>Curso MVP</strong> 
                        <ul class="menu">
                            <li>@Html.ActionLink("Intercambio de datos estructurados", "Index", "IntercambioDatosEstructurados")</li> |
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            <div style=" padding-left:50px">
                <p>Como incluir varias tablas en una "select" de entrity: 
                <br />
                var lq_paginas = db.LQ_Paginas.Include("LQ_Escenario").Include("LQ_MenuEscenario").Include("LQ_TipoPagina");</p>
            </div>
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET MVC</p>
                </div>
            </div>
        </footer>

        @RenderSection("scripts", required: false)
    </body>
</html>
