﻿@model IEnumerable<cursoYoutube.Models.C_Area>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nueva Area", "Crear")
</p>
<table>
    <tr>
        <th>
           @* @Html.DisplayNameFor(model => model.descripcion)*@
           Descripción
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Editar", new { id=item.id_area }) |
            @Html.ActionLink("Detalle", "Detalles", new { id=item.id_area }) |
            @Html.ActionLink("Eliminar", "Eliminar", new { id=item.id_area })
        </td>
    </tr>
}

</table>
