﻿@model IEnumerable<cursoYoutube.Models.C_Direccion>

@{
    ViewBag.Title = "ListaDirecciones";
}

<h2>ListaDirecciones</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.provincia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cp)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.calle, "ListaClientePorCP", new { cp = item.cp })
        </td>
        <td>
            @Html.ActionLink(item.localidad, "ListaClientePorCP", new { cp = item.cp })
        </td>
        <td>
            @Html.ActionLink(item.provincia, "ListaClientePorCP", new { cp = item.cp })
        </td>
        <td>
            @Html.ActionLink(item.cp, "ListaClientePorCP", new { cp = item.cp })
        </td>
@*        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_direccion }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_direccion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_direccion })
        </td>*@
    </tr>
}

</table>
