﻿@model cursoYoutube.Models.C_Direccion

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>C_Direccion</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.id_direccion)
            @Html.ValidationMessageFor(model => model.id_direccion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.calle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.calle)
            @Html.ValidationMessageFor(model => model.calle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.localidad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.localidad)
            @Html.ValidationMessageFor(model => model.localidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.provincia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.provincia)
            @Html.ValidationMessageFor(model => model.provincia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cp)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cp)
            @Html.ValidationMessageFor(model => model.cp)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.id_cliente, "C_Cliente")
        </div>
        <div class="editor-field">
            @Html.DropDownList("id_cliente", String.Empty)
            @Html.ValidationMessageFor(model => model.id_cliente)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
