﻿@model cursoYoutube.Models.C_Direccion

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>C_Direccion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.calle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.calle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.localidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.localidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.provincia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.provincia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.C_Cliente.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.C_Cliente.nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
