﻿@model cursoYoutube.Models.C_Direccion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>C_Direccion</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.calle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.calle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.localidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.localidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.provincia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.provincia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cp)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cp)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.C_Cliente.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.C_Cliente.nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.id_direccion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
