﻿@{
    ViewBag.Title = "Index";
}

<h2>Desplegables(DropDownList) en cascada con Ajax</h2>
<p>http://www.variablenotfound.com/2008/06/desplegables-en-cascada-con-aspnet-mvc.html</p>

<form method="post" action="#">
    <fieldset><legend>Formulario</legend>
        <label for="ddCategoria">Categoría:</label>
        @Html.DropDownList("ddCategoria")
        <label for="ddElemento">Elemento</label>
        @Html.DropDownList("ddElemento")    
    </fieldset>
</form>

@section scripts
{
    <script type="text/javascript">
        // Inicialización
        $(document).ready(function () {
            $("#ddCategoria").change(function () {
                CambiaElementos($("#ddCategoria").val());
            });
            CambiaElementos($("#ddCategoria").val()); 
        });

        // Carga el desplegable de elementos en función de la categoría que le llega como parametro
        function CambiaElementos(cat) {
            var dd = document.getElementById("ddElemento");
            dd.options.length = 0;
            dd.options[0] = new Option("Espere ...");
            dd.SelectedIndex = 0;
            dd.disabled = true;

            // Control de errores
            $("#ddElemento").ajaxError(function (event, request, settings) {
                dd.options[0] = new Option("Categoría incorrecta");
            });

            // Obtener los datos
            $.getJSON(
                '@Url.Action("GetElementos")',  // URL de la acción
                {Categoria: cat},               // Objeto JSON con parámetros
                function(data){
                    $.each(data, function(i, item){
                        dd.options[i] = new Option(item, item);
                    });
                dd.disabled = false;
                });
        }
    </script>
}

