﻿@model List<cursoYoutube.Models.Orders>
@*@model IEnumerable<cursoYoutube.Models.Orders>*@

@{
    ViewBag.Title = "Index";
}
@section styles
{
    <style type="text/css">
        .highlight
        {
            background-color:rgb(230,244,224);
            }
    </style>}

@section scripts
{
@*    <script type="text/html" id="mytemplate" >
        <% _.each(results, function(OrderDetail) { %>
            <tr>
                <td><%= OrderDetail.OrderID %></td>
                <td><%= OrderDetail.ProductName %></td>
                <td><%= OrderDetail.UnitPrice %></td>
                <td><%= OrderDetail.Quantity %></td>
                <td><%= OrderDetail.Discount %></td>
            </tr>
        <% }); %>
    </script>*@

    <script type="text/javascript">
        /* Funcion de inicio */
        $("#master tbody tr").click(function () {
            // cambiar stylo de la fila
            $(this).addClass('highlight').siblings().removeClass('highlight');
            // obtengo el id del primer td de la fila seleccionada
            var id = this.cells[0].textContent;
            GetOrderDeatailsByOrderId(id);
        });

        function GetOrderDeatailsByOrderId(orderId) {
            $.ajax({
                url: 'MaestroDetalle/GetOrderDeatailsByOrderId',
                type: 'GET',
                data: { id: orderId },
                error: function (ex) {
                    alert(ex.responseText);
                },
                success: function (response) {
                    if (response.results != null) {


                        /* ESTO NO HE CONSEGUIDO QUE ME FUNCIONE */
                        /* gracias a las plantillas html(mytemplate) no es necesario crear los tr, td, etc */
                        //                        var template = $("#mytemplate").html(); 
                        //                        $("#details tbody").html(_.template(template, { results: response.results }));
                        //alert(response.results[0].OrderID); 

                        /* ASI QUE LO HE HECHO MAS SIMPLE*/
                        var html_body =""
                        $.each(response.results, function (i, val) {
                            html_body +=
                                "<tr>" +
                                    "<td>" + val.OrderID + "</td>" +
                                    "<td>" + val.ProductName + "</td>" +
                                    "<td>" + val.UnitPrice + "</td>" +
                                    "<td>" + val.Quantity + "</td>" +
                                    "<td>" + val.Discount + "</td>" +
                                "</tr>"
                        });
                        $("#details tbody").html(html_body);
                    }
                }
            });
        }

    </script>
}

<h2>Maestro detalle con vistas parciales </h2>

<h3>Ordenes</h3>
<p>https://www.youtube.com/watch?v=jffPjz09GF0</p>
<p>Utilizamos una función Ajax que busca </p>
<table id="master" class="table table-stripped" >
    <thead>
    <tr>
        <th>Order Id</th>
        <th>Order Date</th>
        <th>Shipped Date</th>
        <th>Ship Name</th>
        <th>Ship Adress</th>
        <th>Ship City</th>
        <th>Ship Country</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var o in Model) 
    { 
        <tr>
            <td>@o.OrderID</td>
            <td>@o.OrderDate</td>
            <td>@o.ShippedDate</td>
            <td>@o.ShipName</td>
            <td>@o.ShipAddress</td>
            <td>@o.ShipCity</td>
            <td>@o.ShipCountry</td>
        </tr>
    }

    </tbody>
</table>

<h3>Detalles orden</h3>
<table id="details" class="table table-stripped" >
    <thead>
    <tr>
        <th>Order Id</th>
        <th>Product Name</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Distcount</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    Selecciona una orden....</p>
            </td>
        </tr>
    </tbody>
</table>

