﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<input type="button" id="btn3" value="Vaciar datos" />

<h1>Primera vista parcial - Clientes</h1>
<input type="button" id="btn1" value="VistaParcialCliente" />
<div id="dvDetalleCliente" style="width:50%; height:130px; display:none; ">
</div>

<h1> Segunda vista parcial - Productos</h1>
<input type="button" id="btn2" value="VistaParcialProducto" />
<div id="dvDetalleProducto" style="width:50%; height:130px; display:none; ">
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btn1").click(function () {
            $("#dvDetalleCliente").load("/CVPA/ObtenerCliente").css("display", "inherit");
        });
    });

    $(document).ready(function () {
        $("#btn2").click(function () {
            $("#dvDetalleProducto").load("/CVPA/ObtenerProducto").css("display", "inherit");
        });
    });
    $(document).ready(function () {
        $("#btn3").click(function () {
            $("#dvDetalleProducto").load("/CVPA/Vacio").css("display", "none");
            $("#dvDetalleCliente").load("/CVPA/Vacio").css("display", "none");

        });
    });
</script>
