﻿@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
La suma de 
<input id="txtNum1" type="text" style="width:20px" /> y 
<input id="txtNum2" type="text" style="width:20px" /> es: <span id="operacion"></span>
<br />
<input id="btnCalcular" type="button" value="Calcular" />
 
<script type="text/javascript">
    $("#btnCalcular").click(function () {
        var num1 = $("#txtNum1").val();
        var num2 = $("#txtNum2").val();
        $("#operacion").load("/VistaParcial/Suma?numero1=" + num1 + "&numero2=" + num2);
    });
</script>
