﻿@model cursoYoutube.ViewModels.PaginaDeClientesViewModel
@{
    ViewBag.Title = "Clientes";
    WebGrid grid = new WebGrid(rowsPerPage: Model.ClientesPorPagina);
    grid.Bind(Model.Clientes, autoSortAndPage: false, rowCount: Model.ClientesPorPagina); 
}

<h2>Index2</h2>
http://www.variablenotfound.com/2011/02/webgrid-en-mvc-3-paso-paso-y-ii.html

<div>
    <h3>Tabla básica</h3>
    @grid.GetHtml()
</div>
