﻿@model IEnumerable<cursoYoutube.Models.C_Cliente>
@{
    ViewBag.Title = "Index";
    WebGrid grid = new WebGrid(Model);

}
<style type="text/css">
    .col { padding: 2px 5px;}
    .derecha{ text-align:right;}    
    .fila-alternativa { background-color:Lime;}
    .encabezado-grid { background-color:Red;}
    .pie-grid{ font-weight:bold;}
</style>

<h2>Clientes</h2>
<p>http://www.variablenotfound.com/2011/02/webgrid-en-mvc-3-paso-paso.html</p>
<div>
    <h3>Tabla básica</h3>
    @grid.GetHtml()
</div>
<div>
    <h3>Quitando la columna id_cliente</h3>
    @grid.GetHtml(exclusions: new[]{"id_cliente"})
</div>
<div>
<h3>Colocando las columnas en el orden que yo quiera</h3>
  @grid.GetHtml(columns: new[]{
    grid.Column("id_cliente"),
    grid.Column("nombre"),
    grid.Column("apellidos")
})
</div>
<div>
<h3>Con farmatos un poco mas decentes</h3>
  @grid.GetHtml(columns: new[]{
    grid.Column("id_cliente", header: "Id", canSort: false, style: "col derecha"),
    grid.Column("nombre", header: "Nombre", style: "col"),
    grid.Column("apellidos", header: "Apellidos", style: "col")
})
</div>
<div>
<h3>Añadiendo columnas personalizadas</h3>
  @grid.GetHtml(columns: new[]{
    grid.Column("id_cliente"),
    grid.Column("nombre"),
    grid.Column("apellidos"),
    grid.Column(
            "",
            header:"Acciones",
            canSort:false,
            format: @<text>
                        @Html.ActionLink("Editar", "Edit", new {id = item.id_cliente})
                         | 
                        @Html.ActionLink("Borrar", "Delete", new {id = item.id_cliente})
                    </text>
            )
  })
</div>
<div>
<h3>Personalizando las filas, los encabecados y el pie</h3>
  @grid.GetHtml(
        fillEmptyRows: true,
        alternatingRowStyle: "fila-alternativa",
        headerStyle: "encabezado-grid",
        footerStyle: "pie-grid",
        mode: WebGridPagerModes.All,
        firstText: "<< Primera",
        previousText: "< Anterior",
        nextText: "Siguiente >",
        lastText: "Última >>",
        columns: new[]{
            grid.Column("id_cliente"),
            grid.Column("nombre"),
            grid.Column("apellidos")
  })
</div>
<div>
<h3></h3>

</div>

