﻿@model IEnumerable<cursoYoutube.Models.C_Cliente>
@{
    ViewBag.Title = "WebGridAjax";
    WebGrid grid = new WebGrid(Model, ajaxUpdateContainerId: "contenedor-grid");

}


<h2>WebGrid con Ajax</h2>
http://www.variablenotfound.com/2011/02/webgrid-en-modo-ajax-con-mvc-3.html
<br />
<br />
<p>Cuidado, esta forma de utilizar el ajax es poco recomendable ya que es bastante similar a los clasicos UpdatePanel. 
    <br />
    Leer la documentación</p>
<div id="contenedor-grid">
    <h3>Tabla básica con ajax</h3>
    @grid.GetHtml()
</div>