﻿@model cursoYoutube.ViewModels.PaginaDeClientesConFiltroViewModel
@{    
    ViewBag.Title = "Clientes";
    
    // Versión sin Ajax
    //WebGrid grid = new WebGrid(rowsPerPage: Model.ClientesPorPagina);
    
    // Version con Ajax
    WebGrid grid = new WebGrid(rowsPerPage: Model.ClientesPorPagina, ajaxUpdateContainerId: "contenedor-grid");
    
    
    grid.Bind(Model.Clientes, autoSortAndPage: false, rowCount: Model.ClientesPorPagina); 
}

<h2>Index2</h2>
<p>http://www.variablenotfound.com/2011/10/aspnet-mvc-webgrid-con-filtro.html</p>

Puede utilizarse con versión con ajax o sin ajax. Pero el boton buscar no utiliza el "ajax automatico", para eso habria que hacerlo con una función ajax de jquery normal
<div id="contenedor-grid">
    @using (Html.BeginForm(null, null, FormMethod.Get))
    {
        <fieldset>
            <legend>Criterios de búsqueda</legend>
            @Html.Label("buscar", "Texto:")
            @Html.TextBox("buscar")
            <br />
            @Html.Label("idMin", "Id mín:")
            @Html.TextBox("minId")
            @Html.Label("idMax", "Id máx:")
            @Html.TextBox("maxId")
            <br />
            <input type="submit" value="Buscar" />
        </fieldset>
    }
    <div>
        <h3>Tabla básica</h3>
        @grid.GetHtml()
    </div>
</div>
